
<html>
  <head>
    <title>Blurple is not supported</title>
    <link href="/style.css" type="text/css" rel="stylesheet"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="UniQMG">
    <meta name="twitter:title" content="Not supported">
    <meta name="twitter:description" content="Happy birthday, Discord!">
    <meta name="twitter:image" content="/preview?">
    <meta name="twitter:image:alt" content="(best viewed with Netscape Navigator 4.0 or below on a Pentium 3±1 emulated in Javascript on an Apple IIGS at a screen resolution of 1024x1.)">
    <script src="/js/jimp.min.js" async></script>
  </head>
  <body>
    <style>
      body {
        background-color: #515c91;
      }
      div.unsupported-stuff {
        color: white;
      }
      span.blurplething, span.not {
        color: #7289DA !important;
        text-decoration: none;
        font-size: 20px;
      }
      div.projectblurple {
        margin-top: 10px;
      }
      a.projectblurple {
          color: #7289DA;
      }
      a.projectblurple:visited {
          color: white;
      }
    </style>
    <div class="unsupported-stuff">
      <span class="blurplething">Blurple</span> is
      <span class="not">not supported</span>.<br>
      Happy 3rd birthday, <span class="not">Discord!</span><br>
      <a href="http://discord.gg"><img src="/gitignored/Discord-Logo+Wordmark-White.png" width="275"></img></a>
      <br>
      <div class="projectblurple">
        Inspired by
        <a class="projectblurple" href="https://discord.gg/qEmKyCf">
          Project Blurple
        </a>
      </div>
    </div>
    <body>
    <div class="blurplifier">
      <noscript>
        1st party javascript is required to use the blurplifier.
      </noscript>
      <style>
      .blurplifier {
          text-align: center;
          font-weight: bolder;
          font-family: monospace;
      }
      .blurplifier input {
          width: 50px;
      }

      .colorlevels {
        display: block;
      }
      .colorlevels .labels {
        display: inline-block;
        line-height: 24px;
        width: 100px;
        position: relative;
        transform: translateY(2px);
      }
      .colorlevels .levels {
        display: inline-block;
        line-height: 24px;
        width: 50px;
      }

      #upload {
        background-color: red;
        width: 87px;
      }

      #images a {
        display: inline-block;
        border: 2px solid red;
        margin: 5px;
      }
      </style>
      <div>
        This is a clientside version of <a href="https://blurple.romtypo.com/">ROMTypo's blurplifier</a>
      </div>
      <div>
        Note: GIFs are <strong>not</strong> supported! PNG/JPEG only.
      </div>
      <br>
      <div class="colorlevels">
        <div class="colorlabel">
          If your images aren't coming out well,<br>
          you can adjust the color levels here.
        </div>
        <div class="labels">
          <div class="label1">Dark blurple</div>
          <div class="label2">Blurple</div>
          <div class="label3">White</div>
        </div>
        <div class="levels">
          <div class="level1">
             <input id="dbl" type="number" max="255" min="0" value="64">
          </div>
          <div class="level2">
             <input id="bl" type="number" max="255" min="0" value="128">
          </div>
          <div class="level3">
             <input id="wl" type="number" max="255" min="0" value="255">
          </div>
        </div>
      </div>
      <div>
        Click an image to download it.
      </div>
      <div>
        <input id="upload" type="file" accept="image/png,image/jpeg,image/tiff"></input>
      </div>
      <div id="images"></div>
      <script>
        function blurplify(file, callback) {
          return new Promise((resolve, reject) => {
            var reader = new FileReader();
            reader.onload = function(data) {
              resolve(Jimp.read(data.target.result));
            };
            reader.readAsDataURL(file);
          }).then((image) => {
            /* Image processing code courtesy of @tehZevo#0321 */
            /* Modified by UniQMG */
            var darkBlurple = [78, 93, 148];
            var blurple = [114, 137, 218];
            var greyple = [153, 170, 181];
            var darkButNotBlack = [44, 47, 51];
            var notQuiteBlack = [35, 39, 42];

            var dbl = ''+document.getElementById("dbl").value;
            var bl = ''+document.getElementById("bl").value;
            var wl = ''+document.getElementById("wl").value;

            var levels = {};
            levels[dbl] = darkBlurple;
            levels[bl] = blurple;
            levels[wl] = [255, 255, 255];

            return new Promise((resolve, reject) => {
            image.grayscale()
              .scan(0, 0, image.bitmap.width, image.bitmap.height, function (x, y, idx) {
                var red   = this.bitmap.data[ idx + 0 ];
                var green = this.bitmap.data[ idx + 1 ];
                var blue  = this.bitmap.data[ idx + 2 ];
                //var alpha = this.bitmap.data[ idx + 3 ];
                var alpha = 255;

                var keys = Object.keys(levels);
                for(var i = 0; i < keys.length; i++) {
                  if(red < keys[i]) {
                    var c = levels[keys[i]];
                    red = c[0];
                    green = c[1];
                    blue = c[2];
                    break;
                  }
                }
                this.bitmap.data[idx + 0] = red;
                this.bitmap.data[idx + 1] = green;
                this.bitmap.data[idx + 2] = blue;
                this.bitmap.data[idx + 3] = alpha;
              })
              .getBase64(Jimp.MIME_PNG, function(err, src) {
                  if (err) reject(err);
                  resolve(src);
              });
            })
          });
        }

        var upload = document.getElementById("upload");
        upload.addEventListener('change', (data) => {
          setTimeout(() => upload.value = "");
          [...data.target.files].forEach(file => {
            blurplify(file).then((src) => {
              var a = document.createElement("a");
              a.setAttribute("href", src);
              a.setAttribute("download", "blurple_" + file.name);
              document.getElementById("images").appendChild(a);

               var img = document.createElement("img");
               img.setAttribute("src", src);
               a.appendChild(img);
            }).catch(ex => {
              alert(`Couldn't blurplify ${file.name}: ${ex}.`);
            })
          });
        });
      </script>
    </div>
  </body>
</html>
