
<html>
  <head>
    <title>Blurple is not supported</title>
    <link href="/style.css" type="text/css" rel="stylesheet"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="UniQMG">
    <meta name="twitter:title" content="Not supported">
    <meta name="twitter:description" content="Happy birthday, Discord!">
    <meta name="twitter:image" content="/preview?">
    <meta name="twitter:image:alt" content="(best viewed with Netscape Navigator 4.0 or below on a Pentium 3±1 emulated in Javascript on an Apple IIGS at a screen resolution of 1024x1.)">
  </head>
  <body>
    <% if (typeof(center) != 'undefined') { %>
      <style>
        body {
          margin: 0;
          overflow: hidden;
        }

        .unsupported-stuff {
          line-height: 100vh;
          margin: 0;
        }
      </style>
    <% } %>
    <style>
      body {
        background-color: #515c91;
      }
      div.unsupported-stuff {
        color: white;
      }
      span.blurplething, span.not {
        color: #7289DA !important;
        font-size: 20px;
      }
    </style>
    <div class="unsupported-stuff">
      <span class="blurplething">Blurple</span> is
      <span class="not">not supported</span>.<br>
      Happy 3rd birthday, <span class="not">Discord!</span>
    </div>
  </body>
</html>
