
<html>
  <head>
    <title>Brain power is not supported</title>
    <audio src="/gitignored/brainpower.mp3"></audio>
      <link href="/style.css" type="text/css" rel="stylesheet"/>
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:site" content="UniQMG">
      <meta name="twitter:title" content="Not supported">
      <meta name="twitter:description" content="(╯OwO)╯︵ sᴉɥʇ s,ʇɐɥʍ? Open in browser.">
      <meta name="twitter:image" content="http://embeds.are.literally.not.supported.please.open.in.browser.is.not.support/ed">
      <meta name="twitter:image:alt" content="(best viewed with Netscape Navigator 4.0 or below on a Pentium 3±1 emulated in Javascript on an Apple IIGS at a screen resolution of 1024x1.)">
  </head>
  <body>
    <div class="unsupported-stuff">
      <span class="thing">Brain power</span> is
      <span class="not">not supported</span>.<br>
      <a href="#" onclick="document.querySelector('audio').play()">or is it?</a>
    </div>
  </body>
</html>
